.top-nav {
    background-color: #2C3E50;
    overflow: hidden;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
}

.nav-link {
    float: left;
    display: block;
    color: #ECF0F1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #34495E;
    color: black;
}

.active-link {
    background-color: #B5BE5C;
    color: white;
}
