# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*

# Ignore yarn error log
yarn-error.log*

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
